table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.h-20rem {
  height: 20rem !important;
}

.mat-row {
  transition: all 200ms ease-in-out;
  cursor: pointer;
  &:hover {
    background-color: #ffe4c4;
  }
}
