<div class="main-content">
  <!-- Progress Bar -->
  <div class="progress-bar-wrapper" *ngIf="uploading">
    <p class="mb-2 text-light">Uploading Image... {{ uploading_progress }}%</p>
    <div class="progress-bar">
      <div
        class="progress-bar-fill"
        [ngStyle]="{ 'width.%': uploading_progress % 100 }"
      ></div>
    </div>
  </div>
  <!-- Progress Bar -->
  <div class="container-fluid">
    <div
      *ngIf="isLoading || saving"
      class="d-flex align-items-center justify-content-center w-100 h-30rem"
    >
      <mat-spinner [diameter]="50"></mat-spinner>
    </div>
    <div class="col w-100" *ngIf="!isLoading && !saving">
      <div class="row m-0 justify-content-between align-items-center p20">
        <h3>Edit Developer</h3>

        <div class="row m-0">
          <div class="col">
            <div class="btn save-btn" (click)="save()">Save</div>
          </div>
        </div>
      </div>

      <div class="row m-0 w-100 mt-4">
        <div class="col pl-0">
          <div class="row m-0 align-items-center">
            <img class="avatar" src="{{ logo_img }}" alt="" />

            <label class="m-0 ml-4" for="file">Choose Logo</label>
            <input
              class="ml-2"
              type="file"
              accept="image/*"
              id="file"
              (change)="handleFileInput($event.target.files)"
            />
          </div>
        </div>
        <div class="col pr-0">
          <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Enter name" [(ngModel)]="dev_name" />
          </mat-form-field>
          <!-- <mat-form-field appearance="outline">
            <mat-label>Short Description</mat-label>
            <textarea
              matInput
              placeholder="Enter short description"
              rows="3"
              [(ngModel)]="dev_short_desc"
            ></textarea>
          </mat-form-field> -->
          <mat-label>Short Description</mat-label>
          <editor
            class="mb-5"
            apiKey="uriyx9p2q6b73b9ngch8oowagdehtak3ytc2v1r9x99qv2rw"
            [init]="tinyMceConfig"
            [(ngModel)]="dev_short_desc"
          ></editor>
        </div>
      </div>

      <!-- <mat-form-field appearance="outline">
        <mat-label>About Developer</mat-label>
        <textarea
          matInput
          placeholder="Enter about developer"
          rows="15"
          [(ngModel)]="dev_long_desc"
        ></textarea>
      </mat-form-field> -->
      <mat-label>About Developer</mat-label>
      <editor
        class="mb-5"
        apiKey="uriyx9p2q6b73b9ngch8oowagdehtak3ytc2v1r9x99qv2rw"
        [init]="tinyMceConfig"
        [(ngModel)]="dev_long_desc"
      ></editor>

      <div class="row m-0">
        <div class="col-6 pl-0">
          <div class="row m-0 justify-content-between align-items-center">
            <h3 class="mt-0">Main Image</h3>
            <img
              matTooltip="Edit Image"
              class="edit-btn"
              src="assets/img/svg/edit.svg"
              alt=""
              (click)="editImg(main_img, 'main')"
            />
          </div>
          <img class="w-100 maxh20rem contain" src="{{ main_img }}" alt="" />
        </div>
        <div class="col-6 pr-0">
          <div class="row m-0 justify-content-between align-items-center">
            <h3 class="mt-0">About Image</h3>
            <img
              matTooltip="Edit Image"
              class="edit-btn"
              src="assets/img/svg/edit.svg"
              alt=""
              (click)="editImg(about_img, 'about')"
            />
          </div>
          <img class="w-100 maxh20rem contain" src="{{ about_img }}" alt="" />
        </div>
      </div>

      <div class="col mt-5">
        <h3>Add properties by</h3>
        <div class="row">
          <div class="col-5">
            <mat-form-field appearance="outline" class="mt-0">
              <mat-label>Properties Name</mat-label>
              <input
                matInput
                placeholder="Enter name"
                [(ngModel)]="properties_by_name"
              />
            </mat-form-field>
          </div>
          <div class="col-5">
            <mat-form-field appearance="outline" class="mt-0">
              <mat-label>Attached link</mat-label>
              <input
                matInput
                placeholder="Enter link"
                [(ngModel)]="properties_by_link"
              />
            </mat-form-field>
          </div>
          <div class="col-2">
            <div class="btn add-btn-by" (click)="addProps('prop')">Add</div>
          </div>
        </div>

        <span
          class="row m-0 align-items-center mt-2"
          *ngFor="let prop of properties_by; let index = index"
        >
          <span class="prop-bg"
            >Name : <b>{{ prop.name }}</b> - Link : <b>{{ prop.link }}</b></span
          >
          <mat-icon
            class="remove-icon cursor-ponter ml-3"
            (click)="removeProps('prop', index)"
            >cancel</mat-icon
          >
        </span>
      </div>
      <div class="col mt-5">
        <h3>Add Communities by</h3>
        <div class="row">
          <div class="col-5">
            <mat-form-field appearance="outline" class="mt-0">
              <mat-label>Community Name</mat-label>
              <input
                matInput
                placeholder="Enter name"
                [(ngModel)]="communities_by_name"
              />
            </mat-form-field>
          </div>
          <div class="col-5">
            <mat-form-field appearance="outline" class="mt-0">
              <mat-label>Attached link</mat-label>
              <input
                matInput
                placeholder="Enter link"
                [(ngModel)]="communities_by_link"
              />
            </mat-form-field>
          </div>
          <div class="col-2">
            <div class="btn add-btn-by" (click)="addProps('comm')">Add</div>
          </div>
        </div>

        <span
          class="row m-0 align-items-center mt-2"
          *ngFor="let prop of communities_by; let index = index"
        >
          <span class="prop-bg"
            >Name : <b>{{ prop.name }}</b> - Link : <b>{{ prop.link }}</b></span
          >
          <mat-icon
            class="remove-icon cursor-ponter ml-3"
            (click)="removeProps('comm', index)"
            >cancel</mat-icon
          >
        </span>
      </div>
      <div class="col mt-5">
        <h3>Add ready to move by</h3>
        <div class="row">
          <div class="col-5">
            <mat-form-field appearance="outline" class="mt-0">
              <mat-label>Ready to move Name</mat-label>
              <input
                matInput
                placeholder="Enter name"
                [(ngModel)]="ready_to_move_by_name"
              />
            </mat-form-field>
          </div>
          <div class="col-5">
            <mat-form-field appearance="outline" class="mt-0">
              <mat-label>Attached link</mat-label>
              <input
                matInput
                placeholder="Enter link"
                [(ngModel)]="ready_to_move_by_link"
              />
            </mat-form-field>
          </div>
          <div class="col-2">
            <div class="btn add-btn-by" (click)="addProps('ready')">Add</div>
          </div>
        </div>

        <span
          class="row m-0 align-items-center mt-2"
          *ngFor="let prop of ready_to_move_by; let index = index"
        >
          <span class="prop-bg"
            >Name : <b>{{ prop.name }}</b> - Link : <b>{{ prop.link }}</b></span
          >
          <mat-icon
            class="remove-icon cursor-ponter ml-3"
            (click)="removeProps('ready', index)"
            >cancel</mat-icon
          >
        </span>
      </div>
    </div>
  </div>
</div>
